html {
  scroll-behavior: smooth;
}

.card {
  height: 90%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#detail {
  transition: none;
}

#detail:hover {
  transform: none;
}
nav img {
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}
nav img:hover {
  box-shadow: 5px 5px 18px -4px #000000;
}

.titles {
  transform: scale(1);
  transition: transform 0.3s ease, color 0.3s ease;
}
.titles:hover {
  color: #8d2d2d;
  transform: scale(1.1);
}

#hero img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.arrivals {
  color: #8d2d2d;
}

.social {
  transition: color 0.3s ease-in-out;
}

.social:hover {
  color: #8d2d2d;
}
